.price-zones {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: padding-top .5s ease;

  .pointer-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s ease;

    .pointer {
      height: 20px;
    }
  }

  .zones {
    display: flex;
  
    .zone {
      text-align: center;
      font-weight: 600;
      width: 150px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: gray;
      transition: all .5s ease;
    }
  
    .buy {
      background-color: var(--green);
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  
    .buy.active {
      width: 200px;
      color: black;
      background-color: var(--dark-green);
    }
  
    .hold {
      background-color: var(--blue);
    }
  
    .hold.active {
      width: 200px;
      color: black;
      background-color: var(--dark-blue);
    }
  
    .sell {
      background-color: var(--pink);
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  
    .sell.active {
      width: 200px;
      color: black;
      background-color: var(--dark-pink);
    }
  }
}