.dashboard {
  .ssg-table {
    width: 1100px;
    margin: auto;
  }

  .ssg-list {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
    border-radius: 10px;

    .ag-row {
      cursor: pointer;
    }
  }

  .ssg-create {
    display: flex;
    padding-bottom: 20px;
  }
  
  .ssg-create-button {
    padding: 10px;
    margin-left: auto;
  }
}