.dashboard {
  .ssg-table-container {
    max-width: 1100px;
    margin: auto;
  }

  .ssg-create {
    display: flex;
    padding-bottom: 20px;
  }
  
  .ssg-create-button {
    margin-left: auto;
  }
}