.ssg {
  .ssg-form {
    margin: auto;
    display: grid;
    justify-content: center;
    padding-bottom: 30px;

    .ssg-row {
      display: flex;
      padding-bottom: 20px;
    }
  
    .ssg-input-container {
      margin-right: 40px;
      margin-left: 40px;
      width: 170px;
    
      .ssg-input-label {
        margin: 0;
      }
  
      .ssg-input {
        width: 170px;
      }
  
      .ssg-select {
        width: 170px;
      }
    }
  }

  .ssg-buttons {
    display: flex;
    justify-content: center;
  
    .ssg-save-button {
      padding: 10px;
    }
    
    .ssg-back-button {
      padding: 10px;
      margin-right: 10px;
    }
  }
}