.ssg {
  .ssg-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    width: 1100px;
    margin: auto;

    .ssg-row {
      display: flex;
      padding-bottom: 30px;
    }

    .ssg-form-input {
      padding-right: 20px;
      padding-left: 20px;
    }

    .big-cell {
      flex-basis: calc(100% / 3 * 2);
    }

    .small-cell {
      flex-basis: calc(100% / 3);
    }

    .button-cell {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      align-items: center;
      padding: 10px;

      .ssg-save-button {
        padding: 10px;
      }

      .ssg-error {
        font-size: 12px;
        color: red;
        padding-top: 8px;
        margin: auto;
      }
    }
  }

  .ssg-sheet {
    padding-bottom: 75px;
  }

  .ssg-price-zones {
    padding-bottom: 75px;
  }
}