.ssg {
  .ssg-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    width: 1100px;
    margin: auto;

    .ssg-row {
      display: flex;
      padding-bottom: 30px;
    }

    .ssg-form-input {
      padding-right: 20px;
      padding-left: 20px;
    }

    .big-cell {
      flex-basis: calc(100% / 3 * 2);
    }

    .small-cell {
      flex-basis: calc(100% / 3);
    }

    .button-cell {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      align-items: center;
      padding: 10px;

      .ssg-save-button {
        padding: 10px;
      }

      .ssg-error {
        font-size: 12px;
        color: red;
        padding-top: 8px;
        margin: auto;
      }
    }
  }

  .ssg-sheet {
    padding-bottom: 75px;
  }

  .ssg-price-zones {
    /* width: 600px;
    border: solid 1px gray;
    border-radius: 8px;
    margin: auto; */
    margin-bottom: 75px;
    /* padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, .12); */

    .price-zone-text {
      display: flex;
      justify-content: center;
      color: gray;
      text-decoration: underline;
      padding-top: 10px;
    }
    
    .ssg-row {
      display: flex;
      gap: 130px;
      margin: auto;
      justify-content: center;
      padding-top: 5px;
      width: 450px;

      .low-threshold {
        display: flex;
        flex-direction: column;
        color: gray;
        align-items: end;
      }

      .high-threshold {
        display: flex;
        flex-direction: column;
        color: gray;
        align-items: start;
      }

      .threshold-price {
        color:gray;
        padding-top: 5px;
      }
    }
  }
}