.checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;

  .checkbox-label {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 5px;
  }

  .checkbox-element {
    accent-color: black;
    height: 30px;
    margin: 0;
  }

  .checkbox-element:hover {
    cursor: pointer;
    accent-color: rgb(61, 61, 61);
  }
}