.multiselect {
  .multiselect-label {
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 5px;

  }

  .multiselect-control {
    border: solid 1px #c4c4c4;
    border-radius: 8px;
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, .2);
    height: 30px;
    min-height: 30px;
  }

  .multiselect-control:hover {
    border: solid 1px #c4c4c4;
    border-radius: 8px;
  }

  .focus {
    box-shadow: 0px 0px 0px 1px black;
  }

  .error {
    border: solid 1px #ff9898;
    background-color: rgb(253, 235, 235);
  }

  .error:hover {
    border: solid 1px #ff9898;
  }

  .multiselect-value-container {
    height: 30px;
    padding: 0px 6px;
  }

  .multiselect-input {
    margin: 0px;
  }
  
  .multiselect-indicators-container {
    height: 30px;
  }
}