.forecast-sheet {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;

  .cell {
    border-color: black !important;
    justify-content: center !important;
  }

  .corner-cell {
    border-top: none !important;
    border-left: none !important;
  }

  .base-cell {
    background-color: var(--blue);
    font-weight: 600;
  }

  .downside-cell {
    background-color: var(--pink);
    font-weight: 600;
  }

  .upside-cell {
    background-color: var(--green);
    font-weight: 600;
  }

  .title-cell {
    justify-content: left !important;
  }

  .default-cell {
  }
  
  .forecast-sheet-default {
    padding-left: 90px;
    
    .cell {
      border-color: gray !important;
      color: gray !important;
    }
  }
}