:root {
  --blue: #c6e0ec;
  --dark-blue: #78b4cf;

  --pink: #f5d6d6;
  --dark-pink: #d67575;

  --green: #b8e1be;
  --dark-green: #71c47d;

  --system-font: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Segoe ui, Helvetica Neue, Helvetica, Cantarell, Ubuntu, Roboto, Noto, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--system-font);
  margin: 0;
}

input, select, button {
  font-family: var(--system-font);
}

p {
  margin: 0;
}

.main {
  margin: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}